body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: white;
}

.logo {
    width: 100px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
